<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录页面</title>
    <style>
    body {
        margin: 0
    }  
    header,
    .main {
        text-align: center;
        color: #00f
    }
    .form-group{
        margin: 20px 0;
    }
    </style>
</head>
<body>
    <header>
        <h1>登录页面</h1>
    </header>
    <div class="main">
        <p>用户名：{name}</p>
        <p>密码：{password}</p>
        <form action="./login" method="post">
            <div class="form-group">
                <label>用户名</label>
                <input type="text" name="name" required>
            </div>
            <div class="form-group">
                <label for="">密码</label>
                <input type="password" name="password" required>
            </div>
            <button type="submit">登录</button>
        </form>
      <img src="./showImg">
    </div>
</body>
</html>
